* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #f9fbfc;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  max-width: 37.577em;
}

svg {
  fill: currentColor;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1em;
  position: relative;
}

.link {
  display: block;
  font-weight: 500;
  padding-right: 1em;
}

li {
  list-style: none;
}

/* Navbar */

.nav {
  display: flex;
}

.hr {
  position: relative;
  border-bottom: 2px solid rgba(14, 30, 37, 0.09);
}

.primary-nav {
  margin-bottom: 0;
  margin-top: 0;
}

.site-header ul {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.nav ul {
  align-items: center;
  display: flex;
  line-height: 2;
}

.primary-nav li {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 0.5em;
}

.primary-nav li a {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
}

.netlify-logo {
  align-items: center;
  display: flex;
  margin: 0.5em -0.5em;
  line-height: 2;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fa-chevron-down {
  padding: 0.3rem;
}

.secondary-nav {
  align-items: left;
}

.vr {
  border-right: 2px solid rgba(14, 30, 37, 0.09);
  margin-left: 2rem;
}

.nav li {
  padding: 0.5rem;
}

.menu-button {
  display: none;
  align-self: center;
}

.button {
  border: 0;
  border-radius: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.15s ease;
  vertical-align: middle;
  z-index: 1;
}

.search {
  background: #fff;
  box-sizing: border-box;
  color: rgba(14, 30, 37, 0.54);
  display: block;
  font-size: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

/* Hero Section */
.hero {
  position: relative;
  padding: 4rem 0;
}

.h1 {
  margin: 1.618em auto 0;
  font-size: 2.5rem;
}

.small {
  display: block;
}

.hero-description {
  max-width: 26em;
  font-size: 1.2rem;
}

.hero li {
  margin-top: 0.5em;
}

.hero ul {
  padding-left: 0;
}

.hero .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.hero .link {
  font-size: 1.2rem;
}

/* Customers Section */
.customers h2 {
  font-size: 2rem;
  line-height: 1.333;
  text-align: center;
}

.logos {
  --fadeColor: white;
  --fadeColorTransparent: rgba(255, 255, 255, 0);
  --logosColor: rgb(14, 30, 37);
  overflow: hidden;
  position: relative;
}

.logos-fade {
  background: linear-gradient(
    to right,
    var(--fadeColor) 0,
    var(--fadeColorTransparent) 20%,
    var(--fadeColorTransparent) 80%,
    var(--fadeColor) 100%
  );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logos-container {
  display: flex;
  flex-wrap: nowrap;
  opacity: 0.5;
  width: 3800px;
  color: var(--logosColor);
}

.logos-one {
  animation: slide 90s linear infinite;
}

.logos-two {
  animation: slide 90s linear infinite;
}

.logos-container svg {
  margin: 0 1.3em;
}

/* Case Section */
.case {
  margin-top: 2.618em;
}

.card {
  --card-bg: #fff;
  background: var(--card-bg);
  border-radius: 0.5em;
  box-shadow: 5px 5px 25px rgba(118, 118, 118, 0.15);
  margin-bottom: 1.618em;
  overflow: auto;
  text-align: left;
}

.card-photo {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 8em;
  min-width: 13em;
  padding: 1em;
  position: relative;
}

.card-photo svg {
  position: relative;
  z-index: 1;
}

.card-content {
  padding: 1.15em 1.85em;
}

.card-links {
  display: flex;
  flex-wrap: wrap;
}

.card-links .link {
  flex-grow: 1;
  margin-right: 2em;
  white-space: nowrap;
  color: #00ad9f;
  outline-color: #00c2b2;
  text-decoration: none;
}

/* Core Section */
.core {
  background: linear-gradient(-180deg, #fff 10%, #f9fbfc 90%);
  text-align: center;
}

.footnote-link {
  color: currentColor;
  opacity: 0.5;
}

.core .grid {
  counter-reset: step;
  margin-bottom: -2.618em;
}

.core li {
  counter-increment: step;
}

.core h3::before {
  background: rgba(14, 30, 37, 0.38);
  border-radius: 50%;
  color: #fff;
  content: counter(step);
  display: inline-block;
  font-size: 0.618em;
  line-height: 1.618em;
  margin-right: 0.618em;
  position: relative;
  text-align: center;
  top: -0.236em;
  width: 1.618em;
}

.core footer {
  font-size: 0.85rem;
  margin-top: 1.618em;
}

.core footer p {
  margin-top: 1.618em;
}

.core .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

/* Beyond Section */

.grid {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.beyond .media {
  max-width: 37.577em;
}

.media-body {
  max-width: 29.03em;
}

.media-img svg {
  display: block;
  margin: auto;
  max-width: 100%;
}
