* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 0;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #f9fbfc;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  max-width: 37.577em;
}

svg {
  fill: currentColor;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1em;
  position: relative;
}

.link {
  display: block;
  font-weight: 500;
  padding-right: 1em;
}

li {
  list-style: none;
}

.section footer {
  font-size: 0.85rem;
  margin-top: 1.618em;
}

blockquote,
ol,
p,
ul {
  margin: 1em auto 0;
  padding: 0;
}

.section {
  margin-top: -6.854em;
  padding-bottom: 6.854em;
  padding-top: 1.618em;
}

/* Navbar */

.nav {
  display: flex;
}

.hr {
  position: relative;
  border-bottom: 2px solid rgba(14, 30, 37, 0.09);
}

.primary-nav {
  margin-bottom: 0;
  margin-top: 0;
}

.site-header ul {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.nav ul {
  align-items: center;
  display: flex;
  line-height: 2;
}

.primary-nav li {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 0.5em;
}

.primary-nav li a {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
}

.netlify-logo {
  align-items: center;
  display: flex;
  margin: 0.5em -0.5em;
  line-height: 2;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fa-chevron-down {
  padding: 0.3rem;
}

.secondary-nav {
  align-items: left;
}

.vr {
  border-right: 2px solid rgba(14, 30, 37, 0.09);
  margin-left: 2rem;
}

.nav li {
  padding: 0.5rem;
}

.menu-button {
  display: none;
  align-self: center;
}

.button {
  border: 0;
  border-radius: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.15s ease;
  vertical-align: middle;
  z-index: 1;
}

.search {
  background: #fff;
  box-sizing: border-box;
  color: rgba(14, 30, 37, 0.54);
  display: block;
  font-size: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

/* Hero Section */
.hero {
  position: relative;
  padding: 4rem 0;
}

.h1 {
  margin: 1.618em auto 0;
  font-size: 2.5rem;
}

.small {
  display: block;
}

.hero-description {
  max-width: 26em;
  font-size: 1.2rem;
}

.hero li {
  margin-top: 0.5em;
}

.hero ul {
  padding-left: 0;
}

.hero .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.hero .link {
  font-size: 1.2rem;
}

/* Customers Section */
.customers h2 {
  font-size: 2rem;
  line-height: 1.333;
  text-align: center;
}

.logos {
  --fadeColor: white;
  --fadeColorTransparent: rgba(255, 255, 255, 0);
  --logosColor: rgb(14, 30, 37);
  overflow: hidden;
  position: relative;
}

.logos-fade {
  background: linear-gradient(
    to right,
    var(--fadeColor) 0,
    var(--fadeColorTransparent) 20%,
    var(--fadeColorTransparent) 80%,
    var(--fadeColor) 100%
  );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.logos-container {
  display: flex;
  flex-wrap: nowrap;
  opacity: 0.5;
  width: 3800px;
  color: var(--logosColor);
}

.logos-one {
  animation: slide 90s linear infinite;
}

.logos-two {
  animation: slide 90s linear infinite;
}

.logos-container svg {
  margin: 0 1.3em;
}

/* Case Section */
.case {
  margin-top: 2.618em;
}

.card {
  --card-bg: #fff;
  background: var(--card-bg);
  border-radius: 0.5em;
  box-shadow: 5px 5px 25px rgba(118, 118, 118, 0.15);
  margin-bottom: 1.618em;
  overflow: auto;
  text-align: left;
}

.card-photo {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 8em;
  min-width: 13em;
  padding: 1em;
  position: relative;
}

.card-photo svg {
  position: relative;
  z-index: 1;
}

.card-content {
  padding: 1.15em 1.85em;
}

.card-links {
  display: flex;
  flex-wrap: wrap;
}

.card-links .link {
  flex-grow: 1;
  margin-right: 2em;
  white-space: nowrap;
  color: #00ad9f;
  outline-color: #00c2b2;
  text-decoration: none;
}

/* Core Section */
.core {
  background: linear-gradient(-180deg, #fff 10%, #f9fbfc 90%);
  text-align: center;
}

.footnote-link {
  color: currentColor;
  opacity: 0.5;
}

.core .grid {
  counter-reset: step;
  margin-bottom: -2.618em;
}

.core li {
  counter-increment: step;
}

.core h3::before {
  background: rgba(14, 30, 37, 0.38);
  border-radius: 50%;
  color: #fff;
  content: counter(step);
  display: inline-block;
  font-size: 0.618em;
  line-height: 1.618em;
  margin-right: 0.618em;
  position: relative;
  text-align: center;
  top: -0.236em;
  width: 1.618em;
}

.core footer {
  font-size: 0.85rem;
  margin-top: 1.618em;
}

.core footer p {
  margin-top: 1.618em;
}

.core .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

/* Beyond Section */

.grid {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.beyond .media {
  max-width: 37.577em;
}

.media-body {
  max-width: 29.03em;
}

.media-img svg {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* Benefits Section */

.benefits h2 {
  color: #fff;
}

.media-body {
  max-width: 29.03em;
}

.section footer {
  font-size: 0.85rem;
  margin-top: 1.618em;
}

.section footer li {
  margin-top: 1em;
}

.benefits .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.gradient {
  background-color: #080067;
  background-image: linear-gradient(0deg, rgba(0, 7, 88, 0.8), #080067);
  overflow: hidden;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

/* Wave */
.wave {
  color: #fff;
  display: block;
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
}

.wave svg {
  fill: currentColor;
  height: auto;
  margin-left: -1%;
  width: 102%;
}

/* Hiring Section */
.card-hiring {
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

.card-hiring {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.card {
  --home-card-bg: #fff;
  background: var(--home-card-bg);
  border-radius: 0.5em;
  box-shadow: 5px 5px 25px rgba(118, 118, 118, 0.15);
  margin-bottom: 1.618em;
  overflow: auto;
  text-align: left;
}

.card-photo-hiring {
  background-image: url(/img/careers/4e309e6…/netlify-team-at-jamstack-conf.jpg);
  display: block;
  overflow: hidden;
  position: relative;
}

.card-content {
  padding: 1.15em 1.85em;
}

.card-links {
  display: flex;
  flex-wrap: wrap;
}

/* Validation Section */
.scrollable-wrapper {
  margin-top: 2.618em;
  overflow: hidden;
}

.scrollable {
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow: hidden;
  padding-bottom: 2.618em;
}

.scrollable .card {
  margin: 0 0.5em;
  max-width: 72vw;
}

.card--tweet {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: content-box;
  width: 23.224em;
}

.validation .card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 40px rgba(14, 30, 37, 0.16);
  color: rgba(14, 30, 37, 0.8);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 0.8rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  max-width: 23.224em;
  padding: 1.618em;
  position: relative;
  text-align: left;
  text-shadow: none;
  z-index: 10;
}

.card--tweet cite {
  color: rgba(14, 30, 37, 0.54);
  font-style: normal;
  font-weight: 500;
  margin-top: auto;
  padding-top: 1.618em;
}

.card--tweet .avatar {
  background: #fff;
  border-radius: 50%;
  float: left;
  height: 3em;
  margin-right: 1em;
  width: 3em;
}

.card--tweet cite a {
  color: inherit;
  position: static;
  z-index: 0;
}

.card--tweet cite small {
  display: block;
  font-weight: 400;
  opacity: 0.9;
}

.card--tweet .icon {
  display: inline-block;
  fill: rgba(14, 30, 37, 0.09);
  height: 1.3em;
  vertical-align: middle;
  width: 1.3em;
}

.validation a {
  color: #00ad9f;
  outline-color: #00c2b2;
  text-decoration: none;
}

.validation .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

/* Footer */
.site-footer {
  color: rgba(14, 30, 37, 0.38);
  font-size: 0.85rem;
  padding-bottom: 2.618em;
}

.site-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding: 2.618em 0;
}

.hr {
  border-top: 2px solid rgba(14, 30, 37, 0.09);
}

.site-footer-nav {
  color: #0e1e25;
  display: grid;
  flex-grow: 1;
  grid-gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(7em, max-content));
}

.site-footer-infos {
  margin: 0 auto;
  max-width: 30em;
  text-align: center;
}

.site-footer-social {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.site-footer-second-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
}

.site-footer-title {
  color: rgba(14, 30, 37, 0.54);
  font-size: 0.98rem;
  margin-top: 0;
  text-transform: uppercase;
}

.site-footer-link {
  color: #0e1e25;
  font-size: 0.95rem;
  font-weight: 500;
}

.logo {
  height: 2.618em;
  width: 2.618em;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-footer__newsletter {
  color: rgba(14, 30, 37, 0.8);
}

.form-select-optin,
input:not([type="checkbox"]),
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 2px solid rgba(14, 30, 37, 0.09);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #0e1e25;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.618em;
  margin: 0;
  outline-color: #ffc60a;
  padding: 0.382em 1em;
  transition: box-shadow ease-in-out 0.15s;
  width: 100%;
}

.site-footer-newsletter .form-field {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0.5em;
}

label {
  cursor: pointer;
}

.site-footer-newsletter .label {
  text-align: left;
}

.floating-labels .label {
  display: block;
  margin-top: 0.382em;
  pointer-events: none;
  transform: translate3d(1em, calc(2em + 2px), 0);
  transition: 0.2s ease;
}

.label {
  color: rgba(14, 30, 37, 0.54);
  font-weight: 500;
}

.site-footer .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.site-footer-social {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.site-footer-social li {
  margin: 0 0.3rem;
}

.site-footer-social a {
  color: #0e1e25;
  font-size: 1.3rem;
}

.site-footer-second-nav-item {
  border-right: 1px rgba(14, 30, 37, 0.38) solid;
  margin: 0.5em 0;
  padding: 0 0.5em;
  text-align: left;
  width: auto;
}

.ToggleMenuButton {
  position: relative;
}

.ToggleMenuButton-button {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  outline-color: #00c2b2;
  padding: 0;
}

.site-footer-second-nav-link {
  color: rgba(14, 30, 37, 0.38);
}

.ToggleMenuButton-dropdown {
  background-color: #0e1e25;
  border-radius: 8px;
  bottom: 100%;
  display: none;
  line-height: 1.1;
  margin-bottom: 0.5em;
  opacity: 0;
  padding: 0.8em;
  pointer-events: none;
  position: absolute;
  z-index: 3;
}

.ToggleMenuButton-dropdown--centered {
  left: 50%;
  transform: translateX(-50%);
}

.ToggleMenuButton--active .ToggleMenuButton-dropdown {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.ToggleMenuButton-dropdown li {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.ToggleMenuButton-dropdown a {
  color: #f4f7f8;
  font-size: 0.85em;
}

.ToggleMenuButton-icon {
  fill: currentColor;
  pointer-events: none;
}

.site-footer-second-nav {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
}

.site-footer-second-nav-item:last-child {
  border-right: 0;
}
