body {
  margin: 0;
  height: 0;
  position: relative;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  fill: currentColor;
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 75rem;
  position: relative;
}

.link {
  display: block;
  font-weight: 500;
  padding-right: 1em;
}

li {
  list-style: none;
}

.section footer {
  font-size: 0.85rem;
  margin-top: 1.618em;
}

.section {
  padding-bottom: 2.618em;
}

.button {
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.618em;
  outline: 0;
  padding: 0.382em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: middle;
  z-index: 1;
}

/* Navbar */

.site-header {
  background: linear-gradient(
    90deg,
    rgba(17, 63, 135, 1) 0%,
    rgba(19, 134, 135, 1) 100%
  );
  z-index: 99;
  padding-top: 0.618rem;
}

.nav {
  display: flex;
}

.nav .hr {
  position: relative;
  border-bottom: 2px solid rgba(14, 30, 37, 0.09);
}

.nav a {
  color: rgba(255, 254, 254, 0.911);
}

.primary-nav {
  margin-bottom: 0;
  margin-top: 0;
}

.site-header ul {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.nav ul {
  align-items: center;
  display: flex;
  line-height: 2;
}

.primary-nav li {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0 0.5em;
}

.primary-nav li a {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
}

.netlify-logo {
  align-items: center;
  display: flex;
  margin: 0.5em -0.5em;
  line-height: 2;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fa-chevron-down {
  padding: 0.3rem;
}

.secondary-nav {
  align-items: left;
}

.vr {
  border-right: 2px solid rgba(14, 30, 37, 0.09);
  margin-left: 2rem;
}

.nav li {
  padding: 0.5rem;
}

.menu-button {
  display: none;
  align-self: center;
}

.button {
  border: 0;
  border-radius: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.15s ease;
  vertical-align: middle;
  z-index: 1;
}

.search {
  background: #fff;
  box-sizing: border-box;
  color: rgba(14, 30, 37, 0.54);
  display: block;
  font-size: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

/* Hero Section */
.hero {
  padding: 5rem 0;
  font-size: 1.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background: linear-gradient(
    90deg,
    rgba(17, 63, 135, 1) 0%,
    rgba(19, 134, 135, 1) 100%
  );
  color: #fff;
}

.hero .container {
  z-index: 2;
}

.hero .h1 {
  margin-top: 0.8em;
}

.hero .h1 .small {
  display: block;
}

.hero .hero-description {
  max-width: 26em;
}

.hero ul {
  padding: 0;
}

.hero p {
  margin-left: 0;
}

.hero a {
  color: #fff;
}

.hero li {
  margin-top: 0.5em;
}

.hero .button {
  margin-top: 0.618em;
}

.hero .link {
  font-size: 0.9rem;
}

.hero .link a {
  outline-color: #00c2b2;
  text-decoration: none;
}

/* Customers Section */
.customers .h3 {
  padding-bottom: 0;
  margin-bottom: 0.8rem;
  text-align: center;
}

.LogosTicker {
  --logoSpeed: 90s;
  --fadeColor: white;
  --fadeColorTransparent: rgba(255, 255, 255, 0);
  --logosColor: rgb(14, 30, 37);
  overflow: hidden;
  position: relative;
}

.LogosTicker__fade {
  background: linear-gradient(
    to right,
    var(--fadeColor) 0,
    var(--fadeColorTransparent) 20%,
    var(--fadeColorTransparent) 80%,
    var(--fadeColor) 100%
  );
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.LogosTicker__container {
  display: flex;
  flex-wrap: nowrap;
  opacity: 0.5;
  width: 3800px;
  color: var(--logosColor);
}

.LogosTicker__one {
  animation: slide var(--logoSpeed) linear infinite;
}

.LogosTicker__container svg {
  margin: 0 1.3em;
}

svg[hidden] {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

.nowrap {
  white-space: nowrap;
}

.LogosTicker__two {
  animation: slide var(--logoSpeed) linear infinite;
}

/* Case Section */
.case {
  margin-top: 2.618em;
}

.case .card {
  --card-bg: #fff;
  background: var(--card-bg);
  border-radius: 0.5em;
  box-shadow: 5px 5px 25px rgba(118, 118, 118, 0.15);
  margin-bottom: 1.618em;
  overflow: auto;
  text-align: left;
  display: flex;
}

.case .card-photo {
  align-items: flex-end;
  background-position: 50% 50%;
  background-image: url(https://images.unsplash.com/photo-1557844352-761f2565b576?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 1em;
  position: relative;
}

.card-photo svg {
  position: relative;
  z-index: 1;
}

.card-content {
  padding: 1.15em 1.85em;
}

.card-links {
  display: flex;
  flex-wrap: wrap;
}

.card-links .link {
  flex-grow: 1;
  margin-right: 2em;
  white-space: nowrap;
  color: #00ad9f;
  outline-color: #00c2b2;
  text-decoration: none;
}

/* Core Section */
.core {
  background: linear-gradient(-180deg, #fff 10%, #f9fbfc 90%);
  text-align: center;
}

.core h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.footnote-link {
  color: currentColor;
  opacity: 0.5;
}

.core .grid {
  margin-bottom: -2.618em;
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  padding-left: 0;
}

.core li {
  counter-increment: step;
}

.core h3::before {
  background: rgba(14, 30, 37, 0.38);
  border-radius: 50%;
  color: #fff;
  content: counter(step);
  display: inline-block;
  font-size: 0.618em;
  line-height: 1.618em;
  margin-right: 0.618em;
  position: relative;
  text-align: center;
  top: -0.236em;
  width: 1.618em;
}

.core footer {
  font-size: 0.85rem;
  margin-top: 2.618rem;
  margin-bottom: 1.5rem;
}

.core footer p {
  margin-top: 1.618em;
  color: rgba(14, 30, 37, 0.54);
}

/* Beyond Section */

.beyond h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

.beyond .grid {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.beyond .media {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  justify-content: center;
  margin: 1.618em auto auto;
  text-align: left;
  max-width: 37.577em;
}

.media-body {
  max-width: 29.03em;
}

.beyond .media-body p {
  font-size: 1rem;
  color: rgba(14, 30, 37, 0.54);
}

.grid--alternate .media:nth-child(odd) .media-img {
  margin-left: 0;
  margin-right: 2.618em;
  order: -1;
}

.grid--alternate .media {
  margin-top: 1.618em;
  margin-bottom: 1.618em;
  padding: 0;
}

.beyond .media img {
  margin-left: 2.618em;
  order: -1;
}

.media-img svg {
  display: block;
  margin: auto;
  max-width: 100%;
}

/* Benefits Section */

.benefits {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.benefits h3 {
  font-size: 1.5rem;
}

.benefits h2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 1.618em auto 0;
}

.benefits .media {
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  margin: 1.618em auto auto;
  text-align: left;
}

.benefits .grid {
  display: flex;
  flex-direction: row;
  font-size: 0.85rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.benefits .media-img {
  margin-top: 2.5rem;
  margin-right: 2rem;
  order: 1;
}

.benefits .media-body {
  max-width: 29.03em;
}

.benefits .media-body p {
  font-size: 1rem;
  color: #fff;
  margin-top: 2rem;
  margin-right: 2rem;
}

.benefits footer {
  font-size: 0.85rem;
  margin-top: 2.618rem;
  text-align: center;
  margin-bottom: 4rem;
}

.benefits footer li {
  margin-top: 1em;
}

.benefits footer li a {
  color: #fff;
}

.gradient {
  background-color: #080067;
  background-image: linear-gradient(0deg, rgba(0, 7, 88, 0.8), #080067);
  overflow: hidden;
  text-shadow: 0 2px 20px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

/* Hiring Section */
.card-hiring {
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

.card-hiring {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.hiring .card {
  --home-card-bg: #fff;
  background: var(--home-card-bg);
  border-radius: 0.5em;
  margin-bottom: 1.618em;
  margin-top: 4rem;
  overflow: auto;
  text-align: left;
  display: flex;
}

.card-photo-hiring {
  background-image: url(https://images.unsplash.com/photo-1523384197172-aa61d18ab654?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  display: block;
  overflow: hidden;
  position: relative;
}

.card-hiring {
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
}

.hiring .card-photo {
  align-items: flex-end;
  background-position: 50% 50%;
  background-size: cover;
  justify-content: center;
  min-height: 8rem;
  min-width: 20rem;
  padding: 1rem;
}

.card-photo-hiring::before {
  border-bottom: 300px solid transparent;
  border-left: 120px solid var(--home-card-bg);
  border-top: 300px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.card-content {
  padding: 1.1rem 1.8rem;
}

.card-content h3 {
  font-size: 1.7rem;
}

.card-content p {
  color: rgba(14, 30, 37, 0.54);
  font-size: 1.1rem;
}

.card-links {
  display: flex;
  flex-wrap: wrap;
}

/* Validation Section */

.scrollable-wrapper {
  margin-top: 2.618em;
  overflow: hidden;
}

.scrollable {
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow: hidden;
  padding-bottom: 2.618em;
}

.scrollable .card {
  margin: 0 0.5em;
  max-width: 72vw;
}

.card--tweet {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: content-box;
  width: 23.224em;
}

.validation .card {
  background: #fff;
  border-radius: 8px;
  color: rgba(14, 30, 37, 0.8);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1.618em;
  position: relative;
  text-align: left;
  text-shadow: none;
  z-index: 10;
}

.card--tweet cite {
  color: rgba(14, 30, 37, 0.54);
  font-style: normal;
  font-weight: 500;
  margin-top: auto;
  padding-top: 1.618em;
}

.card--tweet .avatar {
  background: #fff;
  border-radius: 50%;
  float: left;
  height: 3em;
  margin-right: 1em;
  width: 3em;
}

.card--tweet cite a {
  color: inherit;
  position: static;
  z-index: 0;
}

.card--tweet a {
  color: #00ad9f;
}

.card--tweet cite small {
  display: block;
  font-weight: 400;
  opacity: 0.9;
}

.card--tweet .icon {
  display: inline-block;
  fill: rgba(14, 30, 37, 0.09);
  height: 1.3em;
  vertical-align: middle;
  width: 1.3em;
}

.validation .container {
  text-align: center;
}

.validation h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.validation p {
  color: rgba(14, 30, 37, 0.54);
  font-size: 1.1rem;
}

.validation #bottom-talktoanexpert {
  color: #00ad9f;
  outline-color: #00c2b2;
  text-decoration: none;
}

/* Footer */
.site-footer {
  color: rgba(14, 30, 37, 0.38);
  font-size: 0.85rem;
}

.site-footer .hr {
  position: relative;
  border-top: 2px solid rgba(14, 30, 37, 0.09);
}

.site-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding: 2.618em 0;
}

.site-footer-nav {
  color: #0e1e25;
  display: grid;
  flex-basis: 100%;
  flex-grow: 1;
  grid-gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(7em, max-content));
}

.site-footer-infos {
  margin: 0 auto;
  max-width: 30rem;
  text-align: left;
}

.site-footer-social {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.site-footer-second-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
}

.site-footer-title {
  color: rgba(14, 30, 37, 0.54);
  font-size: 0.98rem;
  margin-top: 0;
  text-transform: uppercase;
}

.site-footer-link {
  color: #0e1e25;
  font-size: 1.1rem;
  font-weight: 500;
}

.site-footer ul {
  padding: 0;
  font-size: 1.1rem;
}

.logo {
  height: 2.618em;
  width: 2.618em;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-footer__newsletter {
  color: rgba(14, 30, 37, 0.8);
}

input:not([type="checkbox"]),
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border: 2px solid rgba(14, 30, 37, 0.09);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #0e1e25;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.618em;
  margin: 0;
  outline-color: #ffc60a;
  padding: 0.382em 1em;
  transition: box-shadow ease-in-out 0.15s;
  width: 100%;
}

.site-footer-newsletter .form-field {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0.5em;
}

label {
  cursor: pointer;
}

.site-footer-newsletter .label {
  text-align: left;
}

.floating-labels .label {
  display: block;
  margin-top: 0.382em;
  pointer-events: none;
  transform: translate3d(1em, calc(2em + 2px), 0);
  transition: 0.2s ease;
}

.label {
  color: rgba(14, 30, 37, 0.54);
  font-weight: 500;
}

.site-footer .button {
  margin-top: 0.8rem;
  background: #00ad9f;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 0.382em 1em;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
}

.site-footer-social {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.site-footer-social li {
  margin: 0 0.3rem;
}

.site-footer-social a {
  color: #0e1e25;
  font-size: 1.3rem;
}

.site-footer-second-nav-item {
  border-right: 1px rgba(14, 30, 37, 0.38) solid;
  margin: 0.5em 0;
  padding: 0 0.5em;
  text-align: left;
  width: auto;
}

.ToggleMenuButton {
  position: relative;
}

.ToggleMenuButton-button {
  -webkit-appearance: none;
  background: 0 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  outline-color: #00c2b2;
  padding: 0;
}

.site-footer-second-nav-link {
  color: rgba(14, 30, 37, 0.38);
}

.ToggleMenuButton-dropdown {
  background-color: #0e1e25;
  border-radius: 8px;
  bottom: 100%;
  display: none;
  line-height: 1.1;
  margin-bottom: 0.5em;
  opacity: 0;
  padding: 0.8em;
  pointer-events: none;
  position: absolute;
  z-index: 3;
}

.ToggleMenuButton-dropdown--centered {
  left: 50%;
  transform: translateX(-50%);
}

.ToggleMenuButton--active .ToggleMenuButton-dropdown {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.ToggleMenuButton-dropdown li {
  margin-bottom: 0.5em;
  white-space: nowrap;
}

.ToggleMenuButton-dropdown a {
  color: #f4f7f8;
  font-size: 0.85em;
}

.ToggleMenuButton-icon {
  fill: currentColor;
  pointer-events: none;
}

.site-footer-second-nav {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
}

.site-footer-second-nav-item:last-child {
  border-right: 0;
}

/* Modal Menu */

.modal {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  font-size: 0.85rem;
  height: 100%;
  justify-content: center;
  left: 0;
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

.modal-menu {
  align-items: flex-start;
  font-size: 1em;
  justify-content: flex-end;
  transform-origin: 50% 0;
}

.modal .active {
  overflow-y: auto;
  visibility: visible;
}

.modal-content {
  margin-top: 1rem;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 14px 40px rgba(14, 30, 37, 0.4);
  color: #0e1e25;
  flex: 1;
  margin: 16vh 1em 1em;
  opacity: 0;
  padding: 1em;
  position: relative;
  transform: scale(0);
  transition: transform 0.1s ease 0s, opacity 0.1s ease 0s;
}

.button-close {
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.button-icon {
  background: 0 0;
  box-shadow: none;
  color: rgba(14, 30, 37, 0.38);
  font-size: 1em;
  padding: 0.618em;
}

.modal-content .button {
  display: block;
}

.modal-content header > :first-child {
  margin-top: 0;
}

.button-secondary {
  background: #e8e8e9;
  box-shadow: none;
  color: #0e1e25;
  font-size: 0.85rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-weight: 500;
  opacity: 0.8;
  padding: 0.5rem 1rem;
}

.modal-content .button-secondary {
  display: inline-block;
}

.icon {
  display: inline-block;
  height: 1rem;
  vertical-align: middle;
  width: 1rem;
}

.modal-menu ul {
  margin: 0.618rem -1rem -1rem;
  overflow: hidden;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Search Section */
.search {
  background: #fff;
  box-sizing: border-box;
  color: rgba(14, 30, 37, 0.54);
  display: block;
  font-size: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

.search.active,
.search:target {
  animation: slide-up-search 0.3s cubic-bezier(0.8, -0.4, 0.2, 1.44) 0s forwards;
  visibility: visible;
}

.search .container {
  display: flex;
  flex-direction: column;
  max-width: 46.971em;
  padding: 2.618em 1em;
}

/* Media Queries */

@media screen and (max-width: 500px) {
  body {
    font-size: 0.8rem;
  }

  h2,
  h1 {
    font-size: calc(1rem + 1vw);
    margin-top: 1rem;
  }

  .container {
    padding: 2rem;
  }

  .nav li {
    display: none;
  }

  .nav {
    padding: 2.5rem;
  }

  .hero {
    padding: 0;
  }

  .hero-description {
    font-size: 0.8rem;
  }

  .customers .h3 {
    font-size: 1.3em;
  }

  .customers .LogosTicker {
    font-size: 0.8rem;
  }

  .case .card {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .benefits .grid {
    display: block;
  }

  .beyond .media {
    display: block;
  }

  .benefits {
    clip-path: none;
  }

  .hiring .card-photo {
    display: none;
  }

  .card--tweet {
    font-size: 0.7rem;
  }

  .menu-button {
    display: block;
    margin-left: auto;
  }
}

@media (min-width: 501px) and (max-width: 1200px) {
  .container {
    max-width: 0 auto;
    padding: 2rem;
  }

  .menu-button {
    display: block;
    margin-left: auto;
  }

  .nav li {
    display: none;
  }

  .nav {
    padding: 2.5rem;
  }

  .core {
    display: grid;
  }

  .beyond .media {
    display: block;
  }

  .benefits .grid {
    display: block;
  }

  .benefits .media-body {
    margin-left: 10rem;
  }

  .benefits {
    clip-path: none;
  }
}
